// Flex colors
@orange: #D9411E;
@light-orange: #FF5A09;
@white:  #ffffff;
@grey: #333333;
@light-grey:  #eeeeee;
@med-grey:  #999999;
@dark-grey: #242121;
@solid-dark-grey: #222222;
@very-dark-grey: #1a1a1a;

// Font family
@sans: 'Source Sans Pro', 'Roboto', 'Open Sans', 'Liberation Sans', 'DejaVu Sans', 'Verdana', 'Helvetica', 'Arial', sans-serif;
@mono: 'Source Code Pro', 'Consolas', 'Liberation Mono', 'DejaVu Sans Mono', monospace;

// Body
@body-bg: @white;
@body-bg-dark-theme: @grey;
@text-color: @dark-grey;
@text-color-dark-theme: @light-grey;

// Links
@link-color: @orange;
@link-hover-color: @light-orange;

// Sidebar (aside)
@sidebar-bg: @grey;
@sidebar-bg-dark-theme: @solid-dark-grey;
@sidebar-text-color: @white;
@sidebar-link-color: @white;
@sidebar-link-hover-color: @light-grey;

// Buttons
@btn-bg: @orange;
@btn-text-color: @white;
@btn-hover-color: @light-orange;

// Tag cloud
@tag-bg: @orange;
@tag-text-color: @white;
@tag-hover-color: @light-orange;

// Header
@header-text-color: @med-grey;

// Footer
@footer-text-color: @med-grey;
@footer-border-color: @light-grey;
@footer-border-color-dark-theme: @solid-dark-grey;

// Relative posts
@rel-post-border-color: @light-grey;
@rel-post-border-color-dark-theme: @solid-dark-grey;

// Nav
@nav-border-color: @light-grey;
@nav-border-color-dark-theme: @solid-dark-grey;

// Social buttons

@email-bg-color: #578ad6;
@facebook-bg-color: #3e5b98;
@github-bg-color: #111010;
@google-bg-color: #d93e2d;
@instagram-bg-color: #125688;
@keybase-bg-color: #4c8dff;
@linkedin-bg-color: #3371b7;
@medium-bg-color: #00ab6b;
@pinterest-bg-color: #c92619;
@reddit-bg-color: #ff4500;
@rss-bg-color: #f26109;
@soundcloud-bg-color: #ff5500;
@stack-exchange-bg-color: #2f96e8;
@stack-overflow-bg-color: #ff9900;
@tumblr-bg-color: #36465d;
@twitch-bg-color: #a970ff;
@twitter-bg-color: #4da7de;
@youtube-bg-color: #e02a20;
@gitlab-bg-color: #fca326;
@xing-bg-color: #007575;
@bitbucket-bg-color: #0747A6;
@mastodon-bg-color: #3088d4;
@diaspora-color: #000000;
@diaspora-bg-color: #D5D5D5;
@flickr-bg-color: #ff0084;
@lastfm-bg-color: #d92323;
@x-twitter-bg-color: #000000;

// Admonition colors
@admonition-generic-color: @dark-grey;
@admonition-generic-color-dark-theme: @light-grey;
@admonition-generic-bg-color: #cccccc;
@admonition-generic-bg-color-dark-theme: #404040;

@admonition-attention-color: #856404;
@admonition-attention-color-dark-theme: #fbda7a;
@admonition-attention-bg-color: #fff3cd;
@admonition-attention-bg-color-dark-theme: #4a3900;
@admonition-attention-icon: "\f071\00a0 ";

@admonition-caution-color: @admonition-attention-color;
@admonition-caution-color-dark-theme: @admonition-attention-color-dark-theme;
@admonition-caution-bg-color: @admonition-attention-bg-color;
@admonition-caution-bg-color-dark-theme: @admonition-attention-bg-color-dark-theme;
@admonition-caution-icon: @admonition-attention-icon;

@admonition-warning-color: @admonition-attention-color;
@admonition-warning-color-dark-theme: @admonition-attention-color-dark-theme;
@admonition-warning-bg-color: @admonition-attention-bg-color;
@admonition-warning-bg-color-dark-theme: @admonition-attention-bg-color-dark-theme;
@admonition-warning-icon: @admonition-attention-icon;

@admonition-danger-color: #721c24;
@admonition-danger-color-dark-theme: #ebadb3;
@admonition-danger-bg-color: #f8d7da;
@admonition-danger-bg-color-dark-theme: #28070a;
@admonition-danger-icon: "\f06a\00a0 ";

@admonition-error-color: @admonition-danger-color;
@admonition-error-color-dark-theme: @admonition-danger-color-dark-theme;
@admonition-error-bg-color: @admonition-danger-bg-color;
@admonition-error-bg-color-dark-theme: @admonition-danger-bg-color-dark-theme;
@admonition-error-icon: @admonition-danger-icon;

@admonition-hint-color: #004085 ;
@admonition-hint-color-dark-theme: #7abaff;
@admonition-hint-bg-color: #cce5ff;
@admonition-hint-bg-color-dark-theme: #001933;
@admonition-hint-icon: "\f0eb\00a0 ";

@admonition-tip-color: @admonition-hint-color;
@admonition-tip-color-dark-theme: @admonition-hint-color-dark-theme;
@admonition-tip-bg-color: @admonition-hint-bg-color;
@admonition-tip-bg-color-dark-theme: @admonition-hint-bg-color-dark-theme;
@admonition-tip-icon: @admonition-hint-icon;

@admonition-important-color: #155724;
@admonition-important-color-dark-theme: #a8eab7;
@admonition-important-bg-color: #d4edda;
@admonition-important-bg-color-dark-theme: #122b18;
@admonition-important-icon: "\f05a\00a0 ";

@admonition-note-color: @admonition-important-color;
@admonition-note-color-dark-theme: @admonition-important-color-dark-theme;
@admonition-note-bg-color: @admonition-important-bg-color;
@admonition-note-bg-color-dark-theme: @admonition-important-bg-color-dark-theme;
@admonition-note-icon: @admonition-important-icon;

@figure-color: #6c757d;
@figure-color-dark-theme: #bfbfbf;
