.sc-gitlab {
  background-color: #fca326;
}

.disclaimer {
  color: #999;
  margin-top: 65px;
}

#banner {
  max-width: 225px;
  display:block;
  margin:auto;
}

.category-header {
  margin-top: 32px;
  margin-left: 82px;
}

.notebook-single {
  margin-left: 0px;
}

.notebook-single > header,
.notebook-single > .tag-cloud,
.notebook-single > #disqus_thread {
  margin-left: 82px;
}

@media only screen and (max-width: 540px) {
  .notebook-single { margin: 0px }

  .notebook-single > header,
  .notebook-single > .tag-cloud,
  .notebook-single > #disqus_thread {
    margin: 0px 16px;
  }
}
