{% extends "index.html" %}
{% set subcategory_name = subcategory.name.replace("/", " ").title().replace(" ", " / ") %}
{% block title %} &ndash; {{ _('Category: %(name)s', name=subcategory_name) }}{% endblock %}
{% set summarise = True %}
{% block header %}
  <header><h1 class="category-header">Articles in <em>{{ subcategory_name }}</em></h1></header>
{% endblock %}
